.App {
  text-align: center;
}

.icon.category__popup {
  display: none;
}

.category:hover>.icon.category__popup {
  display: inline-block;
}

.category span, .label-name {
  cursor: pointer;
}

.category span:hover, .label-name:hover {
  color: black;
}
